:root {
    --WJCT-primary: #006BB6;
    --WJCT-secondary: #40C4FF;
    --WJCT-tertiary: #2C3E50;
    --WJCT-light-text: white;
    --WJCT-red: #D50000;
    --bodyFont: "Montserrat", sans-serif;
    --primaryFont: "Montserrat", sans-serif;
    --primaryHeadlineFont: "Merriweather", serif;
    --secondaryHeadlineFont: "Merriweather", serif;
    --headerBgColor: #006BB6;
    --buttonHeight: 40px;
    --WJCT-link: #40C4FF;
}

html {
    font-family: var(--primaryFont);
}

.Page-header-hamburger-menu-content,
.Page-header-hamburger-menu-content,
.Page-header-hamburger-menu-wrapper {
    background-color: var(--WJCT-tertiary);
}

.BrightspotPersistentPlayer-drawer {
    background: var(--WJCT-tertiary);
}

/* Override the solid color background */
.Page-header-persistent-player {
    background: transparent;
}

svg.chevron,
.NavigationItem-text.gtm_nav_cat,
.Page-header-hamburger-menu-content .NavigationItem .NavigationLink {
    color: var(--WJCT-light-text);
}

.NavigationItem-text.gtm_nav_cat span:hover {
    color: var(--WJCT-secondary);
}

nav.DropdownNavigation.gtm_nav .NavigationItem-items-item.gtm_nav_subcat a:hover,
.Page-header-hamburger-menu-content .NavigationItem .NavigationLink:hover {
    color: var(--WJCT-link);
}

.close-x,
.NavigationItem-more svg {
    fill: var(--WJCT-light-text);
}

.Page-header-donate-button.gtm_donate {
    background-color: var(--WJCT-red);
}

.Page-header-donate-button.gtm_donate {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: .25em;
    text-transform: uppercase;
}

.Page-footer-branding {
    background-color: var(--WJCT-tertiary);
}

ul.NavigationItem-items {
    padding: 0px !important;
}

nav.DropdownNavigation.gtm_nav li.NavigationItem-items-item.gtm_nav_subcat:hover {
    background-color: rgba(44, 62, 80, .2);
    color: var(--WJCT-primary);
}

.Page-header-nav-bar {
    background: none;
}

/* Removed white bar from bottom of all navigation items. */
.Page-header-nav-bar .NavigationItem .NavigationItem-items .NavigationLink {
    border-bottom: 0px;
}

/* Removed white bar from bottom of last navigation item. */
/* li.NavigationItem-items-item.gtm_nav_subcat:last-child a.NavigationLink{
border-bottom: 0px;
} */
/* Decided it's better off with no white bars underneath */

/* Change color of nav menu drop down */
ul.NavigationItem-items {
    background-color: var(--WJCT-tertiary) !important;
}

/* Change color of nav menu links to white */
.NavigationItem .NavigationLink {
    color: white;
}

/* Add light blue line above categories */
.PromoA-category,
.PromoB-category,
.PromoC-category {
    padding-top: 15px;
    border-top-color: var(--WJCT-secondary);
    border-top-style: solid;
}

/* Make the navigation text font bold */
.NavigationItem-text {
    font-weight: 700;
}

/* Make volume button yellow/black and make transparent cover disappear */
button.BrightspotPersistentPlayer-volumeControl-toggle {
    color: black;
    background-color: #FFCC00;
    border-radius: 50%;
    margin-top: 7px;
    height: 30px;
    width: 30px;
}

/* Get rid of ugly overlay on volume control */
.BrightspotPersistentPlayer-volumeControl-toggle:after,
.BrightspotPersistentPlayer-volumeControl-toggleMobile:after {
    opacity: 0;
}

/* Make the volume control thicker */
.noUi-target.noUi-rtl.noUi-vertical.noUi-txt-dir-ltr,
.noUi-handle.noUi-handle-lower {
    width: 8px;
}

/* Change All Streams button to secondary color and rounded rectangle */
.BrightspotPersistentPlayer-drawerToggle {
    background-color: var(--WJCT-secondary);
    border-radius: 5px;
}

/* Make Next Up disappear */
.BrightspotPersistentPlayer-tabletDesktopExtraInfo {
    display: none;
}

/* Make all buttons the same height */
.BrightspotPersistentPlayer-drawerControls,
.Page-header-donate-button {
    height: var(--buttonHeight);
}

/* Make the buttons (hamburger and search) white */
.Page-header-search-button-mobile .icon-magnify,
.Page-header-search-button .icon-magnify,
.Page-header-menu-trigger .burger-menu,
.Page-header-hamburger-menu-close .close-x {
    fill: white;
}

/* Change the header background from a color to an image */
ps-header.Page-header {
    background-image: url("http://npr-brightspot.s3.amazonaws.com/aa/4d/59ec9482439f9ab1e1a6bbc35122/wjct-news-header-image.png");
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
    /* display: flex; */
    /* flex-direction: column; */
    padding-top: 45px;
}

/* Making the sticky page header thinner */
[data-header-sticky] ps-header.Page-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* START Persistent player rearranging and style */
ps-brightspot-persistent-player.BrightspotPersistentPlayer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

ps-brightspot-persistent-player.BrightspotPersistentPlayer>.BrightspotPersistentPlayer-streamInfo {
    order: 1;
}

ps-brightspot-persistent-player.BrightspotPersistentPlayer>.BrightspotPersistentPlayer-playerControls {
    order: 2;
}

ps-brightspot-persistent-player.BrightspotPersistentPlayer>.BrightspotPersistentPlayer-volumeControl {
    order: 3;
}

ps-brightspot-persistent-player.BrightspotPersistentPlayer>.BrightspotPersistentPlayer-drawerControls {
    order: 4;
}

.BrightspotPersistentPlayer-streamInfo {
    text-align: right;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.BrightspotPersistentPlayer-playerControls {
    margin-right: 0;
}

.BrightspotPersistentPlayer-name,
.BrightspotPersistentPlayer-programName {
    font-family: 'Montserrat';
    font-weight: bold;
}

.BrightspotPersistentPlayer-name {
    order: 2;
    font-size: 1.3rem;
}

.BrightspotPersistentPlayer-programName {
    order: 1;
    font-size: 1.6rem;
}

.BrightspotPersistentPlayer-drawerControls {
    margin-left: 3rem;
}

.BrightspotPersistentPlayer-volumeControl {
    display: flex;
    flex-direction: row;
    margin-right: 0;
}

button.BrightspotPersistentPlayer-volumeControl-toggle {
    order: 2;
    margin-right: 0;
}

.BrightspotPersistentPlayer-volumeControl-slider {
    order: 1;
    padding-right: 10px;
    padding-left: 10px;
}

/* END Persistent player rearranging and style */

/* Hide the magnifying lens. Decided not to go with it. */
/* button.Page-header-search-button {
        display: none;
} */

/* Player button formatting */

button.StreamPill {
    background-color: var(--WJCT-tertiary);
    color: white;
}


/* End of all breakpoints style */
/* ################################################################################################ */
/* ################################################################################################ */
/* ################################################################################################ */
/* ################################################################################################ */
/* ################################################################################################ */
/* ################################################################################################ */

/* Desktop Large (1920) breakpoint style */
@media only screen and (min-device-width: 1920px) {}

/* Desktop Medium (1440) breakpoint style */
/* Desktop Small (1280) breakpoint style */
/* Tablet Landscape (1024) breakpoint style */

/* Style for desktop and laptop devices */

@media only screen and (min-device-width: 1024px) {
    /* Resizing the WJCT News logo  */
    .Page-header-logo {
        position: absolute;
        z-index: 50;
    }

    [data-header-sticky] .Page-header-logo {
        position: relative;
    }

    .Page-header-logo {
        display: block;
    }

    .Page-header-logo img {
        width: 405px;
        height: 108px;
        max-height: 108px;
        background: url("https://npr.brightspotcdn.com/1a/f2/429727494181954d3fc199ddfd68/wjct-news-header-logo-405pxw.png");
    }

    [data-header-sticky] .Page-header-logo img {
        width: 150px;
        height: 40px;
        max-height: 40px;
        background-position: center;
        /*     Center the image */
        background-repeat: no-repeat;
        /* Do not repeat the image */
        background-size: contain;
        /* Resize the background image to cover the entire container */
    }

    /* Fixing the WJCT News logo */

    [data-toggle-header=hamburger-menu] .Page-header-hamburger-menu {
        z-index: 52;
    }

    .Page-header-top-bar {
        position: relative;
        z-index: 51;
        width: 100%;
        display: flex;
        height: 100%;
        align-items: flex-start;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1239px) {
    .Page-header-logo {
        margin-left: 6rem;
        max-width: calc(100vw - 500px);
    }

    @media only screen and (min-width: 768px) {
        [data-header-sticky] .Page-header-persistent-player {
            height: 30px;
            margin-bottom: 1.8rem;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .BrightspotPersistentPlayer {
        margin-right: 30px;
    }

    .BrightspotPersistentPlayer-name,
    .BrightspotPersistentPlayer-programName {
        max-width: calc(100vw - 400px);
    }
}

/* Tablet Portrait (768) breakpoint style */
/* Mobile Landscape (640) breakpoint style */
@media only screen and (max-device-width: 767px) {
    .Page-header-donate-button.gtm_donate a.Link {
        color: transparent;
        margin-left: -90px;
    }

    .Page-header-donate-button.gtm_donate a.Link:after {
        color: white;
        content: "Donate";
    }
}

/* Mobile Portrait (360) breakpoint style */

/* End of Style sheet */


/* Not sure what these were supposed to do, but they don't seem to work now. */
/* Fixing the hamburger menu back the way it was */
.Page-header-hamburger-menu .Page-header-logo img {
    /*     width: auto; */
    /*     max-height: 40px; */
    /*     height: 40px; */
    /*         background-size: 150px, 40px; */
    /*     background-position: center; */
    /*     Center the image */
    /*     background-repeat: no-repeat; */
    /* Do not repeat the image */
    /*     background-size: contain; */
    /* Resize the background image to cover the entire container */

}

.Page-header-hamburger-menu .Page-header-logo {
    /*     position: static; */
}